<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog Post Layout</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}" />
  </head>
  <body>
    <div class="wrapper">
      <a href="#" class="men">☰</a>
      <nav>
        <a href="/home">Home</a> <a href="/home#aboutus">About us</a>
        <a href="/home#contact-us">Contact us</a>
      </nav>
      <div class="hero">
        <h1>
          <a href="#"
            >SS Hyderabadi Biryani, The 1st Movers of Bucket BIRYANI in Chennai
            !</a
          >
        </h1>
      </div>
      
    </div>
    <div class="container">
      <p>Reading Time: 3 minutes</p>
      <p>
        This place is unique and famous for so many reasons: The huge Anda(Pot)
        with which biryani is served, The quantity which can easily satisfy two
        people(Per plate), the reasonable cost and the best of all – THE BUCKET
        BIRIYANI. SS biryani is a blessing for all those biryani lovers who
        crave for a humongous quantity of this royal dish. I am a regular
        visitor to the Nungambakkam branch of SS, (there is more than 20 outlets
        spread throughout the city). The noticeable visual elements apart from
        the biryani are the red uniforms and red walls, the nicely carved SS in
        all the chairs and the huge andas(Pots) lying around with biriyani.
      </p>
      <p>
        Who is this SS and why is the biryani super famous and tops as one of
        the best biryanis of chennai? Mr. SS – S.Abdul Samad started selling
        homemade chicken biryani & chicken 65 from a small road side stall in
        broadway, Chennai. The hard work and perseverance of Mr.SS earned him
        solid customer base and reputation to grow his business to a greater
        scale. Asked what’s the secret recipe behind – He says it is his
        MOTHER’s biryani that he has brought alive. Started first at Perambur,
        Chennai, SS Hyderabad is on a steadfast journey as a strong contender to
        all the favourite biriyani outlets in the city, since 2004. Taste wise,
        SS is quite decent and easily satisfies the biriyani quotient. Fine long
        basmati rice garnished with lot of pepper balls – tomatoes and flavours
        mixed at the right proportions to give a good biryani worth touch. The
        brinjal curry and raita are also yummier and plentiful – All these at a
        reasonable cost of 180 bucks per chicken biriyani. They also serve
        Mutton biriyani. Chicken 65 is a great recommend to go well for the
        side.
      </p>

      <img class="img1" src="/static/images/bukets.jpg" alt="Image" />

      <p>
        "Reserving the best for the last- their unique specialty is the bucket
        biryani – which they claim as the fore runner in bringing the concept to
        popularity. Range varies between 4 to 5 persons as Super Pack, and 8 to
        9 persons as Standard pack."
      </p>

      <a href="#" id="btn-face" target="_b">Follow US on Facebook</a>
    </div>
    <footer>
      <p>Copyrighted by <a href="/home">SS BIRYANI</a></p>
    </footer>
  </body>
</html>
