<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Food Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <h1>Add Food Item</h1>
    <form action="{{ url_for('add_food_item') }}" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>
        <label for="image_url">Image URL:</label><br>
        <input type="text" id="image_url" name="image_url"><br><br>
        <label for="stripe_url">STRIPE URL:</label><br>
        <input type="text" id="stripe_url" name="stripe_url"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
