{% extends "base.html" %}

{% block content %}

    <div class="card-wrapper">
        <div class="card">

            <h1 class="center">Log In</h1>
      
            <form name="login_form" method="POST">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
      
              <label for="email">Email</label>
              <input type="email" name="email" class="field" required>
      
              <label for="password">Password</label>
              <input type="password" name="password" class="field" required>
      
              <p class="error error--hidden"></p>
      
              <input type="submit" value="Log In" class="btn">
              <p>new user? <a href="/register">click here</a></p>
            
            </form>
            
          </div>
    </div>

{% endblock %}
